<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home > history</title>
    <link rel="icon" href="ico/elegoo-_1_.ico" charset="utf-8">
    <link rel="stylesheet" href="fontawesome-free-6.5.2-web/css/all.min.css">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/all.min.css" integrity="sha384-k6RqeWeci5ZR/Lv4MR0sA0FfDOMKj2ffRuG8VIQf2qMZpQ5mZ5f3gvA19Ge9nKWh" crossorigin="anonymous"> -->
    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            display: flex;
        }
        .navbar-left {
            background-color: #333;
            color: white;
            width: 200px;
            height: 100vh;
            position: fixed;
            top: 0;
            left: 0;
            padding-top: 10px;
            box-sizing: border-box;
            overflow: hidden;
            transition: width 0.3s;
        }
        .navbar-left.collapsed {
            width: 80px;
        }
        .navbar-left a {
            color: white;
            text-decoration: none;
            /* align-items: center; */
            display: block;
            padding: 15px 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            transition: font-size 0.3s;
            text-align: left;
        }
        .navbar-left.collapsed a {
            /* text-align: center; */
            justify-content: center;
            padding: 20px;
            font-size: 0.8em;
        }
        .navbar-left a .icon {
            margin-right: 10px;
        }
        .navbar-left.collapsed a .text {
            display: none;
        }
        .navbar-left a:hover {
            background-color: #3c3a3a;
        }
        .main-content {
            margin-left: 200px;
            padding: 0px;
            width: calc(100% - 200px);
            box-sizing: border-box;
            transition: margin-left 0.3s, width 0.3s;
        }
        .main-content.collapsed {
            margin-left: 60px;
            width: calc(100% - 60px);
        }
        .container {
            /* background-color: #fff; */
            background: linear-gradient(145.14deg, #d8e4e3 0%, #def1fc 46.02%, #eaeafb 56.48%, #e8d1da 63.4%, #c7bce0 77.97%, #e6c7c4 80.93%, #f9edb3 100%);
            padding: 30px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            width: 90%;
            text-align: center;
            margin: 10px auto;
            height: 83vh;
            overflow-y: scroll; /* 添加垂直滚动条 */
            
        }
        h1 {
            color: #333;
            margin-bottom: 20px;
        }
        .styled-input, .styled-select {
            position: relative;
            margin-bottom: 20px;
        }
        .styled-input input, .styled-select select {
            width: 100%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            font-size: 16px;
            box-sizing: border-box;
            transition: border-color 0.3s;
        }
        .styled-input input:focus, .styled-select select:focus {
            border-color: #4caf50;
            outline: none;
        }
        .styled-input label {
            position: absolute;
            top: 10px;
            left: 10px;
            font-size: 16px;
            color: #999;
            pointer-events: none;
            transition: all 0.3s;
        }
        .styled-input input:focus + label,
        .styled-input input:not(:placeholder-shown) + label {
            top: -20px;
            left: 10px;
            font-size: 12px;
            color: #4caf50;
        }
        button {
            padding: 10px 20px;
            background-color: #4caf50;
            color: white;
            border: none;
            border-radius: 5px;
            cursor: pointer;
            font-size: 16px;
        }
        button:hover {
            background-color: #3c3a3a;
        }
        .results {
            margin-top: 20px;
            text-align: left;
        }
        .results h2 {
            color: #3da554;
            font-size: 18px;

        }
        .results div {
            list-style-type: none;
            background-color: #e9e9e9;
            margin-bottom: 10px;
            padding: none;
            border-radius: 5px;
        }
        .toggle-btn {
            position: fixed;
            bottom: 20px;
            left: 200px;
            background-color: #333;
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
            transition: left 0.3s;
        }
        .toggle-btn.collapsed {
            left: 60px;
        }
        .aaa{
            color: #b0b7ae;
            font-size: 18px;
            text-align: center;
            font-weight: bold;
            text-overflow: ellipsis;
            transition: font-size 0.3s;
            overflow: hidden;
        }
        .home-icon {
            display: block;
            text-align: center;
            font-size: 35px;
            margin-bottom: 15px;
        }
        table {
            width: 100%;
            border-collapse: collapse;
            /* margin: 25px 0; */
            text-align: left;

        }
        th, td {
            padding: 12px;
            border-bottom: 1px solid #b9b6b6;
            color: #575454;
        }
        th {
            /* position: sticky; */
            font-size: 18px;
            font-style: initial;
            color: #3c7aa3;
            /* top: 0;
            z-index: 2; */
            /* background-color: #e1f9fa; */
            
        }
        .tooltip {
            top:-10px;
            position: relative;
            display: inline-block;
            cursor: pointer;
        }
        .tooltip .question-mark {
            font-size: 18px; /* 调整问号的字体大小 */
        }
        
        .tooltip .tooltiptext {
            visibility: hidden;
            width: 210px;
            background-color: #d4d2d2;
            color: #1d1c1c;
            text-align: left;
            border-radius: 6px;
            padding: 5px;
            position: absolute;
            z-index: 1;
            bottom: 100%; /* Position the tooltip above the text */
            left: 10%;
            margin-left: -100px;
            opacity: 0;
            transition: opacity 0.3s;
            font-size: 14px;
        }
        
        .tooltip .tooltiptext::after {
            content: "";
            position: absolute;
            top: 100%;
            left: 50%;
            margin-left: -5px;
            border-width: 5px;
            border-style: solid;
            border-color: #555 transparent transparent transparent;
        }
        
        .tooltip:hover .tooltiptext {
            visibility: visible;
            opacity: 1;
        }
        .top-content{
            width: 100%;
            background-color: #f4f4f4;
            height: 60px;
        }
        .modal {
            display: none;
            position: fixed;
            z-index: 1;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
        }

        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 400px;
            text-align: center;
            border-radius: 10px;
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
        }

        .close:hover, .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }
        .search-container {
            position: relative;
            margin-left: 70%;
            top: -70px;
            /* width: 200px; */
        }
        .search-container input[type="text"] {
            padding: 8px;
            font-size: 14px;
            background-color: #ebfcfc;
            border: 1px solid #9aa5a5;
            border-radius: 15px;
            width: 180px;
        }
        .search-container button {
            padding: 8px 10px;
            font-size: 14px;
            border: 1px solid #9aa5a5;;
            background-color: #ebfcfc;
            color: rgb(131, 129, 129);
            border-radius: 12px;
            cursor: pointer;
            margin-left: 10px;
        }
        .search-container button:hover {
            background-color: #d1e0f0;
        }
        .modalnew {
            display: none;
            position: fixed;
            top: 10%;
            left: 55%;
            transform: translate(-50%, -50%);
            padding: 15px;
            background-color: #33c94a;
            border: 1px solid #33c94a;
            color: #cbeee9;
            border-radius: 10px;
            box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
            z-index: 1000;
        }

        .modalnew.show {
            display: block;
            animation: slideUpOut 2s forwards;
        }

        @keyframes slideUpOut {
            0% {
                opacity: 1;
                transform: translate(-50%, -50%);
            }
            100% {
                opacity: 0;
                transform: translate(-50%, -100%);
            }
        }

        .modal-overlay {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            /* background: rgba(153, 150, 150, 0.5); */
            z-index: 999;
        }

        .modal-overlay.show {
            display: block;
        }
    </style>
</head>
<body>
    <div class="navbar-left" id="navbarLeft">
        <!-- <a href="http://10.9.18.34:3000/homePage.html" class="home-icon"><i class="fas fa-home"><img src="elegoo-_1_.ico"></i></a> -->
        <a href="/dashboard" class="home-icon"><i class="fa-solid fa-house icon" style="color: #5acab3;"></i><span class="text"></span></a>
        <!-- <span class="aaa">&emsp;&emsp;&emsp;&emsp;KAWO</span>-->
        <!-- <hr> -->
        <a href="/account"><i class="fa-solid fa-user icon" style="color: #bedfdd;"></i><span class="text" style="color: #bedfdd;"> Accounts</span></a>
        <a href="/playwright"><i class="fa-solid fa-masks-theater icon" style="color: #bedfdd;"></i><span class="text" style="color: #bedfdd;">Playwright</span></a>
        <a href="/playwrightReport"><i class="fa-solid fa-book-open-reader icon" style="color: #bedfdd;"></i><span class="text" style="color: #bedfdd;"> Report</span></a>
        <a href="/history"><i class="fa-solid fa-file-waveform icon" style="color: #bedfdd;"></i><span class="text" style="color: #bedfdd;"> History</span></a>
        <a href="/media"><i class="fa-solid fa-photo-film icon" style="color: #bedfdd;"></i><span class="text" style="color: #bedfdd;">Media</span></a>
        <a href="/setting"><i class="fa-solid fa-gear icon" style="color: #bedfdd;" ></i><span class="text" style="color: #bedfdd;">Setting</span></a>
    </div>
    <button class="toggle-btn" id="toggleBtn">☰</button>
    <div class="main-content" id="mainContent">
        <div class="top-content">
            <span class="text" style="font-size: 16px; color: #000000; position: fixed; right: 65px;top: 20px;" onclick="showModal(event)"><i class="fa-solid fa-user-tie"></i>&emsp;Welcome <%= username %> </span>
            <form action="/logout" method="POST" style="position: fixed; right: 0px;top: 10px;"><button type="submit" style="background-color: #f4f4f4;border: none;"><i class="fa-solid fa-right-from-bracket fa-xl" style="color: #ff0000;"></i></button></form>
            
        </div>
        <div class="container">
            
            <h1><i class="fa-solid fa-file-waveform icon"></i>&emsp;Operation History
                <span class="tooltip">
                    <span class="question-mark"><i class="fa-solid fa-circle-question" style="color: #760404;"></i></span>
                    <span class="tooltiptext" style="font-weight: 80;">These histories will keep 30 days.</span>
                </span>
            </h1>
            <div class="search-container">
                <input type="text" id="searchInput" placeholder="Search... " onkeypress="checkEnter(event)">
                <!-- <button onclick="searchTable()">Search</button> -->
                <button id="refreshButton" >Refresh <i class="fa-solid fa-rotate"></i></button> <!-- 添加刷新按钮 -->
            </div>
            <div id="refreshModal" class="modalnew">
                Page refreshed successfully!
            </div>
            <div id="modalOverlay" class="modal-overlay"></div>
            <table>
                <thead>
                    <tr>
                        <% Object.keys(valuesList[0]).forEach(key => { %>
                            <th><%= key %></th>
                        <% }) %>
                    </tr>
                </thead>
                
                <tbody id="tableBody">
                    <% valuesList.forEach(row => { %>
                        <tr>
                            <% Object.values(row).forEach(value => { %>
                                <td><%= value %></td>
                            <% }) %>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
            
        </div>
    </div>
    <div id="infoModal" class="modal">
        <div class="modal-content">
            <span class="close" onclick="closeModal()">&times;</span>
            <h2 style="color: #888;">Personal Information</h2>
            <p><span style="color: #888;">username:&nbsp;&nbsp;</span><span style="color: #000000;"><%= username %></span></p>
            <p><span style="color: #888;">email:&nbsp;&nbsp;</span><span style="color: #000000;"><%= username %>@email.com</span></p>
            <!-- 添加更多个人信息 -->
        </div>
    </div>

    <script>
        function showModal(event) {
            event.preventDefault();  // 阻止超链接的默认行为
            console.log('Showing modal...');
            document.getElementById('infoModal').style.display = 'block';
        }

        function closeModal() {
            console.log('Closing modal...');
            document.getElementById('infoModal').style.display = 'none';
        }

        window.onclick = function(event) {
            if (event.target == document.getElementById('infoModal')) {
                closeModal();
            }
        }
        const toggleBtn = document.getElementById('toggleBtn');
        const navbarLeft = document.getElementById('navbarLeft');
        const mainContent = document.getElementById('mainContent');

        toggleBtn.addEventListener('click', () => {
            navbarLeft.classList.toggle('collapsed');
            mainContent.classList.toggle('collapsed');
            toggleBtn.classList.toggle('collapsed');
        });
        function searchTable() {
        const input = document.getElementById('searchInput').value.toLowerCase();
        const tableBody = document.getElementById('tableBody');
        const rows = tableBody.getElementsByTagName('tr');
        
        for (let i = 0; i < rows.length; i++) {
            let cells = rows[i].getElementsByTagName('td');
            let match = false;
            for (let j = 0; j < cells.length; j++) {
                if (cells[j].innerHTML.toLowerCase().indexOf(input) > -1) {
                    match = true;
                    break;
                }
            }
            if (match) {
                rows[i].style.display = "";
            } else {
                rows[i].style.display = "none";
            }
        }
    }

    function checkEnter(event) {
        if (event.key === "Enter") {
            searchTable();
        }
    }
    // function refreshPage() {
    //         window.location.reload();
    //     }
    document.getElementById('refreshButton').addEventListener('click', function () {
            // 设置标志以指示页面正在刷新
            localStorage.setItem('refreshing', 'true');
            // 刷新页面
            location.reload();
        });

        window.onload = function () {
            if (localStorage.getItem('refreshing') === 'true') {
                // 显示弹窗
                var modal = document.getElementById('refreshModal');
                var overlay = document.getElementById('modalOverlay');
                modal.classList.add('show');
                overlay.classList.add('show');
                
                // 2秒后隐藏弹窗
                setTimeout(function () {
                    modal.classList.remove('show');
                    overlay.classList.remove('show');
                    localStorage.removeItem('refreshing');
                }, 2000); // 延迟2秒隐藏弹窗
            }
        };
    </script>
</body>
</html>
